<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="2.0.0.0" id="riasol.eu.eye.tester">
    <author href="string"
            rim:copyright="string"
            email="string"
            xml:lang="string">riasol</author>
    <name>Eye tester</name>
    <icon src="icon.png"/>
    <content src="http://192.168.1.115/index.html"/>
    <access uri="http://192.168.1.115"/>
    <access uri="file://local"/>
    <feature id="blackberry.app" />
    <feature id="blackberry.app.event"/>
    <feature id="blackberry.system.event" />
    <feature id="blackberry.ui.contextmenu"/>
</widget>