@mixin round-corner($radius){
  border-radius: $radius;
}
@mixin circle($radius){
width: $radius*2;
height: $radius*2;
 @include round-corner($radius);
}

#drawing{
  width: 400px;
  height: 400px;
  border:1px solid black;
  position: relative;
}
#drawing *{
  @include circle(22px);
  position: absolute;
}
#drawing .selected{
  border-width: 3px;
}