#drawing {
  width: 600px;
  height: 400px;
  position: relative; }

#drawing * {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: white; }

#drawing .selected {
  border-color: black;
  transition-property: border-color;
  transition-duration: 1s;
  -webkit-transition-property: border-color;
  -webkit-transition-duration: 1s; }
